@font-face {
  font-family: "Jost-Regular";
  src: url("../fonts/Jost-Regular.woff") format("woff"),
    url("../fonts/Jost-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Jost-Light";
  src: url("../fonts/Jost-Light.woff") format("woff"),
    url("../fonts/Jost-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Jost-Medium";
  src: url("../fonts/Jost-Medium.woff") format("woff"),
    url("../fonts/Jost-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Italic.woff") format("woff"),
    url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --color-default: #171d20;
  --color-white: #fff;
  --color-orange: #3e3d3c;
  --color-grey: #87a9bc;
}
html{
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  font-family: "Jost-Regular", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: var(--color-default);
  height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1450px;
  padding: 0 15px;
}

.btn {
  padding: 10px 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.p-140 {
  padding: 140px 0;
}

/* menu phone */

.menu__btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s;
}

.menu__btn-line {
  display: block;
  width: 100%;
  height: 6px;
  background-color: #fff;
  border-radius: 20px;
}

.menu__btn-line:not(:last-child) {
  margin-bottom: 10px;
}

/* .header__inner-top.header__inner-top--active > */
.menu__btn-line--3 {
  opacity: 0;
  transform: translateY(-16px);
}

.menu__btn-line--4 {
  transform: translateY(-16px);
}

.menu__btn--active .menu__btn-line:nth-child(1) {
  opacity: 0;
}

.menu__btn--active .menu__btn-line:nth-child(2) {
  transition: all 0.5s;
  transform: rotate(-45deg);
}

.menu__btn--active .menu__btn-line:nth-child(3) {
  transition: all 0.5s;
  transform: translateY(-16px) rotate(45deg);
  opacity: 1;
}

.menu__btn--active .menu__btn-line:nth-child(4) {
  transition: all 0.5s;

  opacity: 0;
}

/*  */

.title {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-default);
  margin-bottom: 5px;
}

.header {
  color: var(--color-white);
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
}

.header__top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
}

.header-hr {
  color: #fff;
}

.header__list-item+.header__list-item {
  margin-left: 40px;
}

.header-info__item+.header-info__item {
  margin-left: 40px;
}

.header__menu-link {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-white);
}

.header-info__img {
  vertical-align: middle;
  margin-right: 5px;
}

.header__subtitle {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-right: 155px;
}

.header-info {
  display: flex;
  align-items: center;
}

.heaedr__content-wrapper {
  padding: 290px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 750px;
  justify-content: center;
  margin: 0 auto;
}

.header__title {
  font-style: normal;
  font-weight: 300;
  font-size: 52px;
  line-height: 72px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.header__title span {
  font-family: "Playfair Display", sans-serif;
}

.header__link {
  background-color: var(--color-white);
  color: var(--color-default);
}

/* main */
.slider__descr {
  color: var(--color-orange);
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 40px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.slider__item {
  margin-right: 20px;
  text-align: center;
}

.slider__item-descr {
  font-family: "Playfair Display";
  margin-bottom: 2px;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 5px;
}

.slider__item-price {
  color: var(--color-grey);
  letter-spacing: 0.02em;
}

.slider__products {
  display: flex;
  justify-content: center;
}

.slider__btn {
  background-color: var(--color-default);
  color: var(--color-white);
  display: block;
}

.photos {
  max-width: 1440px;
  margin: 0 auto;
}

.photos__items {
  display: flex;
}

.photos__item {
  max-width: 475px;
  transition: all 0.4s ease-in-out;
}

.photos-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-align: center;
}

.photos-text__caption {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  line-height: 127%;
  text-transform: capitalize;
  margin-bottom: 30px;
  color: var(--color-white);
}

.photos-text__link {
  text-decoration: underline;
  color: var(--color-white);
}

.photos__item:hover {
  outline: 2px solid rgba(255, 255, 255, 0.66);
  outline-offset: -20px;
}

.photos__item:hover .photos-text {
  opacity: 1;
}

.photos__item-img {
  object-fit: cover;
  max-width: 100%;
}

.photos__item:nth-child(2) {
  margin: 0 60px;
}

.photos__item:hover {
  transform: scale(1.2);
}

.reviews__title {
  margin-bottom: 40px;
}

.reviews__inner {
  position: relative;
}

.reviews-button-next,
.reviews-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  cursor: pointer;
  z-index: 50;
}

.reviews-button-prev {
  left: 0;
}

.reviews-button-next {
  right: 0;
}

.reviews__slider {
  max-width: 950px;
  margin: 0 auto;
  overflow: hidden;
}

.reviews__slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reviews__slides-text {
  font-style: italic;
  font-weight: 300;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin-bottom: 30px;
  color: var(--color-orange);
}

.reviews__slider-img {
  display: block;
  margin-bottom: 15px;
}

.reviews__slider-author {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: var(--color-default);
}

.video {
  background-image: url("../img/popup.jpg");
  height: 682px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog {
  height: 100vh;
  background-image: url("../img/blog-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blog__title {
  color: var(--color-white);
}

.blog__descr {
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.616);
}

.blog__link {
  background-color: var(--color-white);
  color: var(--color-default);
}

.privilege__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.privilege__item {
  padding: 25px 0;
  text-align: center;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.privilege__item-descr {
  font-size: 18px;
  line-height: 26px;
}

.catalog__title {
  margin-bottom: 40px;
}

.catalog__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.catalog__item {
  transition: all 0.4s ease-in-out;
  position: relative;
}

.catalog__item-img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.catalog__item:hover {
  outline: 2px solid rgba(255, 255, 255, 0.66);
  outline-offset: -20px;
}

.catalog__item:hover .catalog__item-img {
  opacity: 1;
}

/* footer */

.footer__title {
  text-align: left;
}

.footer-top {
  margin-bottom: 100px;
}

.footer-top__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__top-descr {
  color: var(--color-orange);
  font-style: normal;
  font-weight: 300;
  margin-bottom: 40px;
}

.footer-top__item {
  max-width: 410px;
}

.footer-input {
  position: relative;
}

.footer-input img {
  position: absolute;
  right: 10px;
  top: 0;
}

.footer__item-input {
  padding-bottom: 6px;
  width: 100%;
  border-bottom: 2px solid var(--color-default);
  color: #171d20;
}

.footer__item-title {
  margin-bottom: 20px;
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: capitalize;

  color: var(--color-default);
}

.footer__item-item {
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.footer__item-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__item-item:hover {
  text-decoration-line: underline;
}

.footer hr {
  color: #d9dfe2;
}

.footer-bottom__inner {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom__inner small {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.footer__bottom-link img {
  margin-right: 10px;
}

.menu__btn {
  display: none;
}